#home {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .logo-box {
    .bitcoin-logo {
      width: 80%;
    }
  }

  .right-box {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
      color: #fff;
      font-size: 2.5rem;
      text-align: center;
      margin: 2rem 0;
    }

    label {
      display: block;
      text-transform: uppercase;
      font-weight: 600;
      color: $label;
      margin-bottom: 20px;
    }

    input[type="text"] {
      display: block;
      width: 100%;
      padding: 10px 15px;
      font-size: 1.5rem;
      margin-bottom: 20px;
      background: transparent;
      color: #fff;
      font-weight: 100;
    }

    .react-datepicker-wrapper {
      width: 100%;

      .react-datepicker__input-container {
        width: 100%;

        input {
          width: 100%;
        }
      }
    }

    button {
      background-color: $link;
      padding: 10px 15px;
      font-size: 1.5rem;
      border: none;
      align-self: flex-end;
      color: #fff;
      font-weight: 300;
    }
  }
}
